go 1.23.5

use (
	.
	./testrepos/cobra
	./testrepos/dive
	./testrepos/logrus
	./testrepos/nsq
	./testrepos/echo
	./testrepos/esbuild
	./testrepos/fiber
	./testrepos/fzf
	./testrepos/gin
	./testrepos/gorm
	./testrepos/harness
	./testrepos/kit
)
